*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F5F5;
}
.projects-container{
  height: 100vh;
  padding: 10vh;
}

.projects{
  padding: 2vh;
  display: flex;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 18px -1px rgba(198,198,198,1);
}

.col{
  flex-direction: column;
}
/* Simple Blog */
.blog{
  position: relative;
  width: 500px;
  overflow: hidden;
  height: 60%;
  flex-grow: 1;
  margin-bottom: 1px;
}

.blog img:hover{
    transform:scale(1.2,1.2);
    opacity: 1;
}

.blog img{
  width: 120%;
  opacity: 0.6;
  transition: all 0.7s;
}

.blog p{
  text-align: center;
  border: 1px solid black;
  top:0;
  position: absolute;
  opacity: 1 !important;
}

/* Ravenous */

.ravenous{
  position: relative;
  width: 600px;
  overflow: hidden;
  height: 40%;
  flex-grow: 1;
}

.ravenous img{
  width: 120%;
  opacity: 0.6;
  transition: all 0.7s;
}

.ravenous img:hover{
    transform:scale(1.2,1.2);
    opacity: 1
}


/* Notes from the road */
.notes{
  position: relative;
  left: -12.3%;
  width: 800px;
  overflow: hidden;
  height: 60%;
  margin-bottom: 1px;
  flex-grow: 1;
}

.notes img{
  width: 120%;
  opacity: 0.6;
  transition: all 0.7s;
}

.notes img:hover{
    transform:scale(1.2,1.2);
    opacity: 1
}

/* SkyPype */

.sky{
  margin-left: 1px;
  position: relative;
  width: 700px;
  overflow: hidden;
  height: 40%;
  flex-grow: 1;
}

.sky img{
  width: 120%;
  opacity: 0.6;
  transition: all 0.7s;
}

.sky img:hover{
    transform:scale(1.2,1.2);
    opacity: 1
}
